@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  margin: 0 8px;
  font-family: "JetBrains Mono NF", "Symbols Nerd Font Mono";
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  color: @text;
}

window#waybar {
  background: @base;
  border-bottom: 3px solid @surface0;
}

#workspaces * {
  margin: 0;
}

#workspaces button {
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  border-bottom: 3px solid @green;
}


#workspaces button.active * {
  color: @green;
}
