configuration{
    modi: "run,drun";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "APPS";
    display-run: "RUN";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"

